*{
  padding: 0px;
  margin:0px;
}


/* body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  color: white;
  background-color: #111;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);

}
.top-nav--left{

}
.top-nav--right{
display: flex;
justify-content: space-around;
}
.top-nav--right div{
  padding: 5px
}
.form-links a{
  text-decoration: none;
  color:white;

}
.submit-btn{
  position: absolute;
  left: 40%;
  top: 50%;
  margin-top: 50px;
}

/* login form */
.forms-body{
  display: flex;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
}
.login-form{
  margin-top: 10%;
/* background-color:grey; */
padding: 30px;
width: 20rem;
height: 20rem;
font-size: 20px;
box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
}

.login-form h1{
  display: flex;
  justify-content:center;
}
.form-input{
width: 100%;
}
.form-input input{
  width: 100%;
  border-radius: 10px;
  border:1px solid black;
  padding: 10px;
}
.form-btn{
  font-size: 20px;
  margin-top: 15px;
  width: 100%;
  padding: 10px;
}
.social-login{
  display: flex;
  justify-content: center;

}
.social-login button{
  background-color: transparent;
  margin: 10px;
  border: none;

}
.icon{
  font-size: 30px;
}
.fa-twitter{
  color: #1DA1F2;
}


/* teeam chat in team lead */
.chat-input{
  display: flex;
  justify-content:space-between;
  position: absolute;
  left: 20px;
  bottom: 10px;
  align-items:center;
}
#txt{
  padding: 5px;
  width: 200px;
  margin-right:15px;
  margin-left:15px;
}
#fromdevicefiles{
  display: none;
}
.chat{
  width: 50%;
  margin: 5px;
  background: blue;
  padding: 10px ;
  border-radius: 10px;}
.chat2{
  width: 50%;
  margin: 5px;
  background: rgb(20, 228, 48);
  padding: 10px ;
  border-radius: 10px;}
/* end */

.side-nav{
color: white;
background-color: rosybrown;
width: 200px;
height: 100vh;
position:fixed;
}
.side-nav--top{
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
.top-logo{
  padding-left: 10px
}
.top-logo p{
  font-size: 25px
}
.top-nav__2{
  font-size: 17px;
  font-weight: bold;
  display: flex;

}
.top-nav__2 p{
  margin-right: 5px;
}
.line-break{
  color: white;
  background-color: white;
  height: 2px;
  margin-top: 20px;
  width: 200px;
}
.side-nav--top div{
padding:10px;
}
.side-nav--top a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.side-nav--top button{
border: none;
background-color: transparent;
color: white;
font-size: 15px;
font-weight: bold;
padding-top: 20px;
}
.form-body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.main{
  background-color: rosybrown;
  border-radius: 25px;
  padding: 40px;
  
}
.main div{
  padding: 20px;
}
.main div label{
  font-weight: bold;
}
.main div input{
  height: 20px;
  width: 50ch;
  padding: 5px;
  border-radius: 10px;
  border: 2px transparent solid;
}
.main div input:hover{
  border:2px solid rgb(159, 159, 231);
}
.main a{
  margin-left: 20px;
  margin-bottom: 10px;
}
.main button{
margin-left: 20px;  
padding: 10px;
font-size: 15px;
background-color: rgb(250, 225, 225);
border-radius: 5px;
}
.main button:hover{
  background-color:rgb(167, 126, 126);
}
.main-body{
height: 90vh;
position: relative;
display: grid;
grid-template-columns: 50% 2fr;
background-color:#111;

}
.main-body__innerupper {
  margin-top: 25%;
  margin-left: 5%;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50% ;
  background-color: blue;

}
.column-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.column-1 {
  font-size: 50px;
  font-weight: bold;
  width: 40ch;
}
.small{
  font-size: 20px;
  width: 50ch;
}
.column-1 div{
  position: absolute;
  margin-left: 25px;
  color: white;
  background-color: #111;
}

.column-2{
  background-image: url("img/pexels-fauxels-3184423.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-color: red;
  filter: grayscale(100%);

}
.column-1 a{
  padding: 10px;
  margin-top: 2px;
  font-weight: 20px;
  color: white;
  font-size: 25px;
  text-decoration: none;
}
.column-1 button:hover{
  background-color: rgb(230, 91, 36);
}
.number-stats{
  height:150px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgb(56, 53, 53);

}
.number-stats table{
}
.number-stats tr{
  justify-content: space-between;
}
.number-stats td{
  font-size: 50px;
  padding: 30px;
}
.advantages-section{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #111;
  color: white;
  padding: 40px;
}.features-section{
  display: flex;
  align-items: center;
  height: 500px;
  flex-direction: column;
  background-color: rgb(68, 49, 231);
  color: white;
  padding: 40px;
  font-size: 80px;
  justify-content: center;
}
.features-section h2{
  margin-left: 20px;
  width: 20ch;
}
.features-section__2{
  color: white;
  background-color: #111;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features-section__2 h2{
  margin-top: 50px;
}
.features-section__2-images{
  display: flex;
  margin: 30px;
}
.img-1{
  width: 40rem;
  height:25rem;
  margin-right: 40px;
}
.img-2{
  height:25rem;
  width: 50rem;
}.img-1, .img-2{
  filter:grayscale(100%)
}
.features-table table{
  color: #fff;
  
}
.features-table table th{
 font-size: 70px;
}
.features-table table tr{
height: 100px;
}
.row-1{
  border: 2px sloid white;}
.adv-sec__grid{
 display: flex;
margin-top: 30px;
}
.card-adv{
  margin-left: 40px;
}
.top-main__body{
  margin-left:22%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.4); */
  width: auto;

}
.top-main__body input{
  width: 50ch;
  padding: 7px;
  border-radius: 20px;
}
.top-main__body-right{
  display: flex;
}
.top-main__body-right i{
  margin-right:10px
}
.center-main__body{
  margin-left: 22%;
  /* position: relative; */
  /* padding: 20px; */
  /* background-color: red; */
  width: auto;
}
.team-chat{
  right:20px;
  position: absolute;
  top: 20px;
  margin-top:97px;
}
.card{
  background-color:#fff;
  width: 300px;
  height: 200px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card-title{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-count{
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-card{
  background-color:#fff;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
}
.body-grid{
  margin: 20px;
  display: flex;
  justify-content: space-between;
  
}
.table{
  margin-top: 50px;
}
.table table{
  /* margin-left: 23%; */
  width: 100%;
}
.table-headers th{
padding-right: 20px;
padding-left: 20px;

}
.card-2{
  background-color: #161616; 
  width		: 45%;
	height		: 500px; 
}
.card-white{
  background-color: #fff;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.card-lead{
  background-color:#fff;
  width: 300px;
  height: 100px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
}
.center-main__body--2{
  margin-left: 20%;
  width: 60%;
}
.center-body__right{
  /* border: 20px solid red; */
  position: absolute;
  right: 30px;
  top: 90px;
  height: 80%;
  width: 300px;
  margin-left: 20px;

}
.sm{
  font-weight: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* team page */
.team-card{
  margin-left: 20px;
  height: 200px;
  width: 96%;
}
.team-card__teams{
  height: 300px;
}
.body-grid-2{
  display: flex;
}
#chartdiv {	
   width		: 100%;
	height		: 500px;
	background-color: #161616;  
}
 

/* todo page */
.todo-page__container{
  margin-left: 15%;
  margin-top: 50px;
}
.show-todo{
  width: 500px;
  height: 150px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;

}
.todo-btn{

}
.todo-card__bottom{

}
.todo-card__bottom input{
background:transparent;

}

.todo-btn button{
  background-color: yellow;
  border: none;
  padding: 10px;
}
.todo-product{
  font-size: 30px;
}
.row-input{
  width: 76vw;
  height: 50px;
  border-radius: 30px;
  overflow:hidden;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.btn-delete{
 
}
.todo-input{
  padding: 5px;
  border-radius: 25px;
  width: 500px;
}
.btn-add{
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 25px;
  border: none;

}
.btn-add:hover{
  background-color:#1DA1F2;
}
/*end todo*/

.amcharts-graph-g2 .amcharts-graph-stroke {
  stroke-dasharray: 3px 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
  -webkit-animation: am-moving-dashes 1s linear infinite;
  animation: am-moving-dashes 1s linear infinite;
}

@-webkit-keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}
@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -31px;
  }
}


.lastBullet {
  -webkit-animation: am-pulsating 1s ease-out infinite;
  animation: am-pulsating 1s ease-out infinite;
}
@-webkit-keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 50px;
  }
}
@keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px;
  }
  100% {
    stroke-opacity: 0;
    stroke-width: 50px;
  }
}

.amcharts-graph-column-front {
  -webkit-transition: all .3s .3s ease-out;
  transition: all .3s .3s ease-out;
}
.amcharts-graph-column-front:hover {
  fill: #496375;
  stroke: #496375;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.amcharts-graph-g3 {
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: 500%;
  stroke-dasharray: 0 \0/;    /* fixes IE prob */
  stroke-dashoffset: 0 \0/;   /* fixes IE prob */
  -webkit-animation: am-draw 40s;
  animation: am-draw 40s;
}
@-webkit-keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
@keyframes am-draw {
    0% {
        stroke-dashoffset: 500%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
								


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px) ,
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px),
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 3)
and (min-resolution: 192dpi)and (max-width:640px) {
 /* Styles */
}