*{
  padding: 0px;
  margin:0px;
}


/* body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);

}
.top-nav--left{

}
.top-nav--right{
display: flex;
justify-content: space-around;
}
.top-nav--right div{
  padding: 5px
}
.form-links a{
  text-decoration: none;
  color: black;

}
.submit-btn{
  position: absolute;
  left: 40%;
  top: 50%;
  margin-top: 50px;
}

.login-btn{
  position: absolute;
  left: 60%;
  top: 50%;
  margin-top: 50px;
}
.side-nav{
color: white;
background-color: rosybrown;
width: 200px;
height: 100vh;
position:fixed;
}
.side-nav--top{
  padding: 20px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

}
.top-logo{
  padding-left: 10px
}
.top-logo p{
  font-size: 25px
}
.line-break{
  color: white;
  background-color: white;
  height: 2px;
  margin-top: 20px;
  width: 200px;
}
.side-nav--top div{
padding:10px;
}
.side-nav--top a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.side-nav--top button{
border: none;
background-color: transparent;
color: white;
font-size: 15px;
font-weight: bold;
padding-top: 20px;
}
.form-body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.main{
  background-color: rosybrown;
  border-radius: 25px;
  padding: 40px;
  
}
.main div{
  padding: 20px;
}
.main div label{
  font-weight: bold;
}
.main div input{
  height: 20px;
  width: 50ch;
  padding: 5px;
  border-radius: 10px;
  border: 2px transparent solid;
}
.main div input:hover{
  border:2px solid rgb(159, 159, 231);
}
.main a{
  margin-left: 20px;
  margin-bottom: 10px;
}
.main button{
margin-left: 20px;  
padding: 10px;
font-size: 15px;
background-color: rgb(250, 225, 225);
border-radius: 5px;
}
.main button:hover{
  background-color:rgb(167, 126, 126);
}
.main-body{
background-color: navy;
height: 90vh;
color: white;
position: relative;
border-bottom-right-radius: 100%70rem;

}
.main-body__innerupper {
  margin-top: 25%;
  margin-left: 5%;
  position: absolute;

}
.main-body__innerupper button{
  padding: 10px;
  margin-top: 2px;
  font-weight: 20px;
  background-color: rgb(167, 70, 32);
  color: white;
  border: none;
  border-radius: 10px;
}
.main-body__innerupper button:hover{
  background-color: rgb(230, 91, 36);
}
.top-main__body{
  margin-left:22%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.4); */
  width: auto;

}
.top-main__body input{
  width: 50ch;
  padding: 7px;
  border-radius: 20px;
}
.top-main__body-right{
  display: flex;
}
.top-main__body-right i{
  margin-right:10px
}
.center-main__body{
  margin-left: 22%;
  padding: 20px;
}
.card{
  background-color:#fff;
  width: 400px;
  height: 200px;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.7);
}
.body-grid{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 55em;
}
.table{
  margin-left: 23%;
  background-color: red;
}
.table-headers th{
padding-right: 20px;
padding-left: 20px;

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px) ,
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px),
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 3),
and (min-resolution: 192dpi)and (max-width:640px) {
 /* Styles */
}