*{
  padding: 0px;
  margin:0px;
}
button, a{
  cursor: pointer;
}
/*index page*/
.top-nav{
  display: flex;
  justify-content: space-between;
  padding: 20px;

}
.top-nav--right{
  display: flex;
  justify-content:space-between;
}
.form-links{
  padding-right: 30px;
}
.form-links a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
}.form-links a:hover{
  background-color: navy;
  color:#fff;
}
.main-body{
  display: grid;
  grid-template-columns:50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

}
.column-1{
  background-color:#111;
  color: white;
  height: 80vh;
  font-size: 60px;

}
.column-1 div{
margin-top: 50px;
margin-left: 40px;
}
.small{
  font-size: 25px;
}
.column-1 a{
  text-decoration : none;
  color: white;
  font-size: 25px;
}
.column-2{
 background: url(./img/pexels-fauxels-3184430.jpg);
 background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}
.number-stats{
  display: flex;
  justify-content: center;
  background-color: grey;
  /* align-items: center; */
}
.number-stats__table td{
  padding: 20px;
}
.advantages-section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  color: #111;
  background-color: #fff;
}
.adv-sec__grid{
  display: flex;
  margin-top: 40px;
}
.card-adv{
  color:#fff;
  box-shadow: navy -5px 5px;
  height: 200px;
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  margin-right: 40px;
  background-color: rgb(56, 54, 54);
  display: flex;
  flex-direction: column;
}.card-adv h4{
  width: 20ch;
  font-size: 20px;
}
.card-adv p {
padding-top: 10px;
width: 25ch;
font-size: 15px;
}

.features-section{
  color: #fff;
  background-color: navy;
  height:30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  padding: 20px;
}
.features-section h2{
  width: 16ch;
  margin-right: 80px;
}
.features-section i{
  background-color: #fff;
  color: navy;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  border-radius: 50px;
}

.features-section__2{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items:center;
}
.features-section__2 h2{
  margin-bottom: 20px;
  font-size: 50px;
}
.features-section__2 p{
  margin-bottom: 20px;
}
.features-section__2-images{
  display: flex;
  filter:grayscale(100%)
}
.img-1{
  width: 25rem;
  margin-right: 40px;
}
.img-2{
  width: 35rem;
}
.features-table{
  margin-top: 60px;
}
/* 
.row-1, .row-2, .row-3{
  height: 10px;

} */
.features-table th{
  width: 10ch;
  padding: 5rem;
  font-size: 40px;
}
.features-table td{
  width: 50ch;
}
.ft2 h2{
width: auto;
}

/*end of index page*/



/*.......forms.....*/
.form{
  padding: 20px;
  /* border: 2px solid red; */
width: 500px;
display: flex;
flex-direction: column;
}
.form input{
  padding: 10px;
  width: 500px;
  border-radius: 15px;
  border: 1px solid  black;
}
.form input:hover{
  border: 1px solid #55c2da;

}
.form button{
  width: fit-content;
  padding: 10px;
  background-color: #4681f4 ;
  font-size: bold;
  color: white;
  border: none;
}
.form button:hover{
  background-color: #5783db;
}

/*login and signup forms*/
.forms-body{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login, .signup{
  padding: 40px;
  margin-top: 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.social-login{
  display: flex;
  justify-content: center;
}
.social-login button{
  margin: 10px;
}
#twitter-login{
  background-color: #1DA1F2;
}
#github-login{
  background-color: black;
}
#login{
  background-color: red;
}
/*end of login and signup forms */
/*end of forms*/



/*side navbar*/
.side-nav{
  background-color: blue;
   position: absolute; 
  width: 10%;
  color: #fff;
  padding: 20px;
  height: 100vh;
}

.side-nav a{
  color: white;
  text-decoration: none;
}
.top-logo{}

.line-break{
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.side-nav--top div{
  padding: 10px;

}
.side-nav--top button{
border: none;
background-color: inherit;
color: #fff;
font-weight: bold;

}
#logout-section{
  margin-top: 40px;
}
/*end of side navbar*/



/*center body styling*/

.center-body{
  margin-left: 30%;
  margin-top: 40px;
}
.center-body__admin{
  display: grid;
  grid-template-columns: 40% 40%;

}
.center-body__admin div{
  /* background-color: grey; */
  width: 100%;
  padding: 20px;

}
/*end of center body styling*/


/*admin page*/
.admin-table{
  height: 500px;
  width: full;
}

/*end of admin page*/

/*-------chat styling-----*/
.upload{
  height: auto;width: 95%;background-color: whitesmoke;border-radius: 4px;margin:  0 0 10px 0;
}
.data{
  width: 98%;
  /* background-color: rgb(76, 123, 177); */
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom:2px;
  right: 5px;
}

.fromdevice{
  height: 40px;width: 40px;border-radius: 50%;background-color: rgb(255, 255, 255,1);
  display: flex;justify-content: center;align-items: center;
}
.send{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255,255, 1);
  display: flex;justify-content: center;align-items: center;
}
#txt{

  height: 20px;width: 60%;
  background-color: white;
  color: black;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;margin: 5px;
}
#fromdevicefiles{display: none;}
img{width: 25px;}
.uploadedmsg{width: 60%;margin: 10px 10px 10px 10px;background: chocolate;}
.chat{width: 50%;margin: 5px;background: chocolate;padding: 10px ;border-radius: 10px;}
.chat2{width: 50%;margin: 5px;background: rgb(20, 228, 48);padding: 10px ;border-radius: 10px;}
/*-------end chat --------*/

/*-----------team lead page-----------*/
.admin-main__body{
  margin-left: 20%;
}
/* ---------end team lead page-------*/


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
  /* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles */
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
  /* Styles */
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px) ,
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px),
only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 3)
and (min-resolution: 192dpi)and (max-width:640px) {
 /* Styles */
}